@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

html, body {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg_blur {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.f_roboto {
  font-family: "Roboto", sans-serif;
}

.f_montserrat {
  font-family: "Montserrat", sans-serif;
}

.f_lato {
  font-family: "Lato", sans-serif;
}

.f_ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.f_poppins {
  font-family: "Poppins", sans-serif;
}

.f_nunito {
  font-family: "Nunito Sans", sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-family: "Lato", sans-serif;
}

.link {
  padding: 6px 12px;
  text-decoration: none;
  color: inherit;
  border-radius: 6px;
  transition: 0.3s;
}

.active-link {
  background-color: black;
  color: white;
  pointer-events: none; /* optional: disables click */
}
